@import url("https://fonts.googleapis.com/css?family=Montserrat");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: relative;
}

/* responsive */
nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav h2.logo {
  font-weight: bold;
  font-size: xx-large;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  margin: 0.5rem 1rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}

li.nav-link:hover {
  background-color: #ccc;
  color: #333;
}

li.nav-link.auth {
  border: 2px solid white;
  border-radius: 1rem;
}

li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav .bars {
    display: block;
  }

  nav .nav-links {
    display: none;
  }
}


main {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 33vw;
  left: 33%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    left: 0px;
  }
}

main>div {
  padding: 30px;
  text-align: center;
  background-color: #dadaff;
  border-radius: 7px;
}

main img {
  height: 190px;
  width: 190px;
  border-radius: 50%;
}

main h1 {
  color: #000000;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 0px;
}

main h1>span {
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
}

main a {
  font-size: 22px;
  text-decoration: none;
  padding-right: 5px;
  transition: all ease 0.25s;
}

/* Icon colours can be changed from here */

main .a1 {
  color: #0000ff;
}

main .a2 {
  color: #ff0000;
}

main .a3 {
  color: #000000;
}

main .a4 {
  color: #000000;
}

main .a5 {
  color: #1db954;
}

main .a6 {
  color: #7289d9;
}

main .a7 {
  color: #fc4f08;
  padding-right: 0px !important;
}

main a:hover {
  opacity: 25%;
  font-size: 22.5px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card div:not(:last-child) {
  margin-bottom: 10px;
}

/* CSS for the Group Available section */
.group-available {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
}

/* CSS for the link button */
.link-button {
  width: 200px;
}

.link-button a {
  display: block;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
}

.link-button a:hover {
  background-color: #3e8e41;
}

/* CSS for the forms */
.forms {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forms form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
.form-input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  width: 100%;
}

input[type="submit"] {
  background-color: rgba(0, 127, 245, 0.705);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: rgba(0, 100, 200, 0.85);
}

.create-post {
  margin: 10px;
  padding-left: 10px;
}

.create-post textarea {
  width: 100%;
  background: #eee;
  padding: 10px;
  border: 3px solid #C8102E;
  border-radius: 5px;
  text-align: left;
  resize: vertical;
}

.create-post button {
  border: 1px solid gray;
  cursor: pointer;
  background-color: #C8102E;
  color: white;
  border-radius: 0px;
  font-family: 'cairo', serif;
}

/* posts box */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


.card {
  height: 500px;
  width: 380px;
  background-color: white;
  position: relative;
  z-index: 1;
}


h2 {
  padding: 22px 22px 0;
}

p {
  font-size: 18px;
  padding: 0 22px;
  line-height: 24px;
}

.intro {
  width: 85%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: orange;
  transition: .3s;
}

.author {
 display: flex;
 align-items: center;
}

.profile {
  background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png);
  background-size: cover;
  background-position: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 10px 0 10px 22px;
}

.name {
  padding-left: 10px;
  cursor: pointer;
  font-weight: 300;
}

.name a {
  font-weight: 400;
  color: orange;
}

.info {
  display: flex;
  color: #999;
  font-size: 14px;
  margin-top: 8px;
  padding-left: 0;
}

.info a { cursor: pointer; }

ion-icon {
  height: 20px;
  width: 20px;
  display: flex;
  padding: 10px 8px 0 22px;
}

/* Flash messages */
.flash-messages {
  margin: 20px auto;
  max-width: 600px;
}

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.alert-success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.alert-error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

.alert-warning {
  background-color: #fff3cd;
  border: 1px solid #ffeaa7;
  color: #856404;
}

.alert-info {
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  color: #0c5460;
}

/* Error messages */
.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 8px 12px;
  margin: 5px 0 10px 0;
  border-radius: 4px;
  font-size: 14px;
}

.error-message p {
  margin: 0;
  padding: 0;
}

/* Radio buttons */
.radio-group {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Group header */
.group-header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  margin-top: 0px;
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
}

/* Posts container */
.posts-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.bottom {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.empty-state {
  text-align: center;
  padding: 40px;
  color: #666;
  font-style: italic;
}