{% extends "index_layout.html" %}
{% block title %}
Group Dashboard
{% endblock %}

{% block index_layout %}
<div>
    <h1 style="background-color: #f00; text-align: center; margin-top: 0px; 
               padding: 0px; font-size: 36px; font-weight: bold;">
        Group: {{ forum["group_name"].upper() }}
    </h1>
</div>

<div style="display: flex;">
    <div style="flex: 1;">
        <form action="#" method="POST" style="padding: 10px;">
            <label for="create-post">Create Post</label>
            <div class="create-post">
                <textarea id="create-post" rows="5" name="create-post" placeholder="Write your idea.....">
                    </textarea>
                <br />
                <input type="submit" value="Post">
            </div>
        </form>
    </div>
</div>

{% for post in forum["posts"] %}
<div class="bottom">
    <div class="author">
        <div class="profile"></div>
        <p class="name">By <a>{{ post[0] }}</a></p>
    </div>
    <p class="intro">{{ post[1] }}</p>
    <div class="info">
        <ion-icon name="time"></ion-icon>
        <p class="info">{{ post[2] }}</p>
        <ion-icon name="chatboxes"></ion-icon>
        <p class="info"><a>0 comments</a></p>
    </div>
</div>
{% endfor %}

<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
{% endblock %}