{% extends "index_layout.html" %}
{% block title %}
Group Dashboard
{% endblock %}

{% block index_layout %}
{{user}}

<div style="display: flex;">
  <div style="width: 200px;">
    <div class="group-available">Group Available</div>
    {% for group in groups["community"] %}
    <a href="/group/{{group[0]}}"
      style="display: block; padding: 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none;">{{group[0]}}</a>
    <br>
    {% endfor %}
  </div>
  <div style="flex: 1;">
    <form action="#" method="POST" style="padding: 10px;">
      <label for="create-community">Create Group</label>
      <input type="text" id="create-community" name="create-community" required placeholder="Create Group"><br><br>
      <input type="submit" value="Create">
    </form>
    <form action="#" method="POST" style="padding: 10px;">
      <label for="join-community">Join Group</label>
      <input type="text" id="join-community" name="join-community" required placeholder="Join Group"><br><br>
      <input type="submit" value="Join">
    </form>
  </div>
</div>
{% endblock %}