{% extends "layout.html" %}

{% block title %}
: Login
{% endblock %}

{% block bodyContent %}
<div class="center-block">
  <div class="container">
    <form action="/login" method="post">
      <div class="imgcontainer">
        <img src="{{url_for('static', filename='images/webtitle.ico')}}" alt="Sabko Kitab" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <hr />
        <label class="psw">
          Forgot <a href="#">password?</a>
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <a href="/signup"><button type="button" class="signup">Sign Up</button></a>

      </div>
    </form>
  </div>
</div>
{%endblock bodyContent%}