{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}
{% block main %}

    <form action="/posts" method="post" class="">
        <div class="form-group postButtom alert alert-info">
            <input autocomplete="off" autofocus class="form-control postForm " name="post" placeholder="Announce here........." type="text">
            <button class="btn btn-primary"  type="submit">Announce</button>
        </div>
    </form>




<div class="setBorder">
{% for post in posts%}

    {% set ns = namespace(LikedOrNot = False) %}
    {% for thisUserLike in thisUserLikes%}
       {%if  thisUserLike.postId == post.postId%}

           {% set ns.LikedOrNot = True %}
       {%endif%}
    {% endfor %}


{% if ns.LikedOrNot == True %}
<div class="setBorder border border-secondary border-2 alert alert-success" id="announcement">

        <p>
            &emsp;&emsp;
            {{post.post}}
        </p>
        <p id="metadata">
            -----{{post.postedBy}} @ {{post.postedAt}}
        </p>


<div class="container">
    <div class="row">
        <div class="col">
            <form action="/posts" class="form-control" method="post">
                <input name="like" type="hidden" value="{{post.postId}}">
                <input class="btn btn-primary"type="submit" value="check">
            </form>
        </div>
        <div class="col">
          {% for like in likes %}
            {%if like.postId==post.postId%}
            {{like.numberOfLikes}} Checked
            {%endif%}
          {%endfor%}
        </div>
        <div class="col">
          <form action="/posts" class="form-control" method="post">
                   <input name="comments" type="hidden" value="{{post.postId}}">
                   <input type="submit" class="btn btn-primary" value="comments">
          </form>
        </div>
    </div>
</div>

<form action="/posts" class="form-control" method="post">
                  <div class="form-group">
                     &ensp;
                     <input type="submit" class="btn btn-primary" value="comment">
                     <input autocomplete="off" autofocus class="commentBox" name="comment" placeholder="comment here......." type="text">
                     <input name="commentedPostId" type="hidden" value="{{post.postId}}">
                  </div>
</form>

</div>

{% elif ns.LikedOrNot == False %}

<div class="setBorder border border-secondary border-2 alert alert-danger" id="announcement">

        <p>
            &emsp;&emsp;
            {{post.post}}
        </p>
        <p id="metadata">
            -----{{post.postedBy}} @ {{post.postedAt}}
        </p>


<div class="container">
    <div class="row">
        <div class="col">
            <form action="/posts" class="form-control" method="post">
                <input name="like" type="hidden" value="{{post.postId}}">
                <input class="btn btn-primary"type="submit" value="check">
            </form>
        </div>
        <div class="col">
          {% for like in likes %}
            {%if like.postId==post.postId%}
            {{like.numberOfLikes}} Checked
            {%endif%}
          {%endfor%}
        </div>
        <div class="col">
          <form action="/posts" class="form-control" method="post">
                   <input name="comments" type="hidden" value="{{post.postId}}">
                   <input type="submit" class="btn btn-primary" value="comments">
          </form>
        </div>
    </div>
</div>

<form action="/posts" class="form-control" method="post">
                  <div class="form-group">
                     &ensp;
                     <input type="submit" class="btn btn-primary" value="comment">
                     <input autocomplete="off" autofocus class="commentBox" name="comment" placeholder="comment here......." type="text">
                     <input name="commentedPostId" type="hidden" value="{{post.postId}}">
                  </div>
</form>

</div>
{% endif %}


{% endfor %}
</div>
{% endblock %}
