{% extends "layout.html" %}

{% block title %}
     Groups
{% endblock %}

{% block main %}

<div class="alert alert-success box0" role="alert">
  <h3>Your Groups,</h3>
<div class="alert alert-success" role="alert">
<table>
    {% for group in groups  %}

        <tr>
            <td>
                <form action="/group" method="post">
                   <input name="groupId" type="hidden" value="{{group.groupId}}">
                   <input class="btn btn-primary" type="submit" value="{{group.groupName}}" id="search">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
</div>



    <form action="/group" method="post">


        <div class="alert alert-warning box1" >
            <input autocomplete="off" autofocus class="form-control" name="groupName" placeholder="Name of group...." type="text" style="width:300px;">

        <button class="btn btn-primary"  type="submit">Create group</button>
        </div>


        <div class="alert alert-info box2" >
            <input autocomplete="off" autofocus class="form-control" name="groupToJoin" placeholder="Name of group...." type="text" style="width:300px;">

        <button class="btn btn-primary"  type="submit">Join group</button>
        </div>
    </form>


{% endblock %}
