{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
     <div class="alert alert-info Alert" role="alert">
      Fill the form below to sign up!
     </div>
    <form class="form" action="/signup" method="post">
        <table>
        <tr>
        <td>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="firstName" placeholder="firstName" type="text">
        </div>
        </td>
        </tr>

        <tr>
        <td>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="lastName" placeholder="lastName" type="text">
        </div>
        </td>
        </tr>

        <tr>
        <td>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="userName" placeholder="userName" type="text">
        </div>
        </td>
        </tr>

        <tr>
        <td>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        </td>
        </tr>

        <tr>
        <td>
        <button class="btn btn-primary" type="submit">Sign Up</button>
        </td>
        </tr>
        </table>
    </form>
{% endblock %}
